Calculators/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CalculatorService"
    targetNamespace="http://example.com/calculator"
    xmlns:tns="http://example.com/calculator"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema targetNamespace="http://example.com/calculator">
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SubtractRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SubtractResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MultiplyRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MultiplyResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DivideRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DivideResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ModuloRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ModuloResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CocienteRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="a" type="xsd:float"/>
                        <xsd:element name="b" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CocienteResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="result" type="xsd:float"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="AddRequest">
        <part name="parameters" element="tns:AddRequest"/>
    </message>
    <message name="AddResponse">
        <part name="parameters" element="tns:AddResponse"/>
    </message>
    <message name="SubtractRequest">
        <part name="parameters" element="tns:SubtractRequest"/>
    </message>
    <message name="SubtractResponse">
        <part name="parameters" element="tns:SubtractResponse"/>
    </message>
    <message name="MultiplyRequest">
        <part name="parameters" element="tns:MultiplyRequest"/>
    </message>
    <message name="MultiplyResponse">
        <part name="parameters" element="tns:MultiplyResponse"/>
    </message>
    <message name="DivideRequest">
        <part name="parameters" element="tns:DivideRequest"/>
    </message>
    <message name="DivideResponse">
        <part name="parameters" element="tns:DivideResponse"/>
    </message>
    <message name="ModuloRequest">
        <part name="parameters" element="tns:ModuloRequest"/>
    </message>
    <message name="ModuloResponse">
        <part name="parameters" element="tns:ModuloResponse"/>
    </message>
    <message name="CocienteRequest">
        <part name="parameters" element="tns:CocienteRequest"/>
    </message>
    <message name="CocienteResponse">
        <part name="parameters" element="tns:CocienteResponse"/>
    </message>
    <portType name="CalculatorPortType">
        <operation name="Add">
            <input message="tns:AddRequest"/>
            <output message="tns:AddResponse"/>
        </operation>
        <operation name="Subtract">
            <input message="tns:SubtractRequest"/>
            <output message="tns:SubtractResponse"/>
        </operation>
        <operation name="Multiply">
            <input message="tns:MultiplyRequest"/>
            <output message="tns:MultiplyResponse"/>
        </operation>
        <operation name="Divide">
            <input message="tns:DivideRequest"/>
            <output message="tns:DivideResponse"/>
        </operation>
        <operation name="Modulo">
            <input message="tns:ModuloRequest"/>
            <output message="tns:ModuloResponse"/>
        </operation>
        <operation name="Cociente">
            <input message="tns:CocienteRequest"/>
            <output message="tns:CocienteResponse"/>
        </operation>
    </portType>
    <binding name="CalculatorBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Add">
            <soap:operation soapAction="http://example.com/calculator/Add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Subtract">
            <soap:operation soapAction="http://example.com/calculator/Subtract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Multiply">
            <soap:operation soapAction="http://example.com/calculator/Multiply"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Divide">
            <soap:operation soapAction="http://example.com/calculator/Divide"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Modulo">
            <soap:operation soapAction="http://example.com/calculator/Modulo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Cociente">
            <soap:operation soapAction="http://example.com/calculator/Cociente"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CalculatorService">
        <port name="CalculatorPort" binding="tns:CalculatorBinding">
            <soap:address location="http://localhost/soap-server.php"/>
        </port>
    </service>
</definitions>