climate/weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WeatherService"
    targetNamespace="http://example.com/weather"
    xmlns:tns="http://example.com/weather"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://example.com/weather">
            <xsd:element name="GetWeatherRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="location" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetWeatherResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="temperature" type="xsd:float"/>
                        <xsd:element name="humidity" type="xsd:float"/>
                        <xsd:element name="state" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="GetWeatherRequest">
        <part name="parameters" element="tns:GetWeatherRequest"/>
    </message>

    <message name="GetWeatherResponse">
        <part name="parameters" element="tns:GetWeatherResponse"/>
    </message>

    <portType name="WeatherPortType">
        <operation name="GetWeather">
            <input message="tns:GetWeatherRequest"/>
            <output message="tns:GetWeatherResponse"/>
        </operation>
    </portType>

    <binding name="WeatherBinding" type="tns:WeatherPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetWeather">
            <soap:operation soapAction="http://example.com/weather/GetWeather"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="WeatherService">
        <port name="WeatherPort" binding="tns:WeatherBinding">
            <soap:address location="http://localhost/soap-weather-server.php"/>
        </port>
    </service>
</definitions>